<div class="artist-list container">
  {{#each artists}}
    <div class="artist-card">

      {{#if this.images}}
        <img src="{{this.images.2.url}}" alt="{{this.name}}">
      {{else}}
        <img src="https://user-images.githubusercontent.com/25275745/82283218-ba9ec200-9963-11ea-9fc8-8408b57bef12.png" alt="{{this.name}}" style="width: 160px">
      {{/if}}

        <p>{{this.name}}</p>
        <a href="/albums/{{this.id}}">View albums</a>
    </div>
  {{/each}}
</div>